    <header id="site-header">
        <div class="container">
            <a href="{{ .Site.BaseURL }}" alt="{{ .Site.Title }}"><h3>{{ .Site.Title }}</h3></a>
            <p class="blog-description">
              <a href = "/about/about/">About</a>
              |
              <a href = "/post/">Home</a>
              |
              <a href = "/archive/archive/">Archive</a>
              |
              <a href = "/resume/davis-vaughan-resume.pdf">Resume</a>
            </p>
        </div>
    </header>